{% extends "base.html" %}

{% block content %}
<div class="flex flex-cols justify-between p-5">
    <div>
        {% if expense.pk %}
            <h1 class="mb-6 text-3xl font-semibold text-green-800">Update Expense</h1>
        {% else %}
            <h1 class="mb-6 text-3xl font-semibold text-green-800">Create New Expense</h1>
        {% endif %}
    </div>
</div>

<div class="bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
        <div class="card w-full rounded-xl text-blue-900 font-bold">
            <div class="p-8 text-md">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="grid grid-cols-2 gap-4">
                        <div class="col-span-2">
                            <label for="title" class="text-md">Expense Title</label>
                            <input type="text" name="title" id="title"
                                   class="w-full rounded-xl px-4 py-2 border-2 border-black text-gray-800 text-sm"
                                   placeholder="Enter Expense Title" required value="{{ expense.title }}"/>
                        </div>
                        <div class="">
                            <label for="amount" class="text-md">Amount</label>
                            <input type="number" min="0.01" step="0.01" name="amount" id="amount"
                                   class="w-full rounded-xl px-4 py-2 border-2 border-black text-gray-800 text-sm"
                                   placeholder="Enter Amount in BDT" required value="{{ expense.amount }}"/>
                        </div>
                        <div class="">
                            <label id="category" for="category" class="text-md">Category</label>
                            <input type="text" name="category" id="category"
                                   class="w-full rounded-xl px-4 py-2 border-2 border-black text-gray-800 text-sm"
                                   placeholder="Enter Category" required value="{{ expense.category }}"/>
                        </div>
                        <div class="">
                            <label for="date" class="text-md">Expense Date</label>
                            <input type="date" name="date" id="date"
                                   class="w-full rounded-xl px-4 py-2 border-2 border-black text-gray-800 text-sm"
                                   required min="{{ today|date:'Y-m-d' }}" value="{{ expense.date|date:'Y-m-d' }}"/>
                        </div>
                        <div class="">
                            <label for="payment_method" class="text-md">Payment Method</label>
                            <select name="payment_method" id="payment_method"
                                    class="w-full rounded-xl px-4 py-2 border-2 border-black text-gray-800 text-sm"
                                    required>
                                <option value="" disabled>Select Payment Method</option>
                                <option value="Cash" {% if expense.payment_method == 'Cash' %}selected{% endif %}>Cash</option>
                                <option value="Credit Card" {% if expense.payment_method == 'Credit Card' %}selected{% endif %}>Credit Card</option>
                                <option value="Debit Card" {% if expense.payment_method == 'Debit Card' %}selected{% endif %}>Debit Card</option>
                                <option value="Bank Transfer" {% if expense.payment_method == 'Bank Transfer' %}selected{% endif %}>Bank Transfer</option>
                                <option value="Online Payment" {% if expense.payment_method == 'Online Payment' %}selected{% endif %}>Online Payment</option>
                            </select>
                        </div>
                
                        <div class="col-span-2">
                            <button class="w-full py-2 bg-white hover:bg-gray-100 text-black hover:text-primary rounded-lg text-md"
                                    type="submit">
                                {% if expense.pk %}Update Expense{% else %}Create Expense{% endif %}
                            </button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<h1 class="mb-6 mt-8 text-3xl font-semibold text-green-800">Recent Added Expenses</h1>

{% for expense in recent_expenses %}
<div class="bg-white border border-gray-200 rounded-lg mt-8 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <div class="p-5">
        <div class="flex justify-end items-end">
            <div class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                {{ expense.category }}
            </div>
        </div>

        <h5 class="mb-3 mt-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ expense.amount }} BDT.</h5>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ expense.title }}</p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Payment method : {{ expense.payment_method }}</p>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"> Date : {{ expense.date }} </p>

        
    </div>
</div>
{% endfor %}

{% endblock content %}
